.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 28px;
  background-color: white;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  box-sizing: border-box;
}

.navLogo img {
  height: 60px;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 36px;
  margin: 0;
  padding: 0;
}
.navLinks a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #5c5c5c;
  transition: 0.25s ease;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}
.navLinks a:hover {
  color: #244b7f;
  border-bottom: 2px solid #244b7f;
  transform: scale(1.08);
}
.active {
  color: #244b7f;
  font-weight: 600;
  border-bottom: 2px solid #244b7f;
}


.fullWidth {
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.hero {
  position: relative;
  width: 100%;
  height: 60vh; 
  background-image: url("/images/ocean.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.1)
  );
  z-index: 1;
}

.heroContent {
  text-align: center;
  color: white;
  position: relative;
  z-index: 2;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroContent h1 {
  font-size: clamp(46px, 6.2vw, 72px);
  font-weight: 700;
  line-height: 1.18;
  margin-bottom: 18px;
}

.heroContent p {
  font-size: clamp(16px, 1.6vw, 23px);
  font-weight: 300;
  line-height: 1.5;
  opacity: 0.95;
  max-width: 720px;
  margin: 0 auto 28px auto;
}

.highlight {
  color: #4fd1c5;
  font-weight: 800;
}

.getStartedBtn {
  margin-top: 25px;
  padding: 14px 34px;
  border-radius: 32px;
  background-color: #4fd1c5;
  color: #0f2738;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: 0.25s ease;
}

.getStartedBtn:hover {
  background-color: #3bb9ad;
  transform: translateY(-3px);
}

.arrow {
  font-size: 22px;
  font-weight: 700;
  transition: transform 0.25s ease;
}

.getStartedBtn:hover .arrow {
  transform: translateX(6px);
}